body {
    background-color: blue;
}

h1 {
    text-align: center;
    background-color: pink;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}